{% load helpers %}
{% load_env as env %} 
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link rel="icon" href="{{ env.STATIC_URL }}favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ env.STATIC_URL }}dist/vendor.min.css">
  {% if env.STATIC_ENV == 'development' %}
  <link rel="stylesheet" href="{{ env.STATIC_URL }}dist/access.css">
  {% elif current_env == 'production' %}
  <link rel="stylesheet" href="{{ env.STATIC_URL }}dist/access.min.css">
  {% endif %}
  <script>
    const URLS = {
      BASE: "{{ env.BASE_URL|escapejs }}",
      STATIC: "{{ env.STATIC_URL|escapejs }}",
      FILE_SERVICE: "{{ env.URL_FILE_SERVICE|escapejs }}",
    };
  </script>
</head>
<body>
  {% if env.STATIC_ENV == 'development' %}
  <script src="{{ env.STATIC_URL }}dist/access.js"></script>
  {% elif current_env == 'production' %}
  <script src="{{ env.STATIC_URL }}dist/access.min.js"></script>
  {% endif %}
</body>
</html>